---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import RootLayout from '../../layouts/RootLayout.astro';
import PostCards from '../../components/PostCards.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---


<RootLayout>
	<div>
		<h1 class="title">Blog</h1>
		<PostCards />
	</div>
	<style>
		.title {
			padding-left: 1rem;
			padding-bottom: 2.8rem;
			text-align: center;
		}
		.postlist {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-auto-rows: auto;
			grid-gap: 1rem;
			list-style: none;
		}
		.postlink {
			display: flex;
			flex-direction: column;
			text-decoration: none;
			align-items: center;
		}
		.picimage {
			display: inline-block;
			width: 100%;
			height: auto;
			aspect-ratio: 4 / 3;
			position: relative;
			object-fit: cover;
			transition: transform 0.3s ease;
		}
		.picimage:hover {
			transform: scale(1.05);
		}
		.info {
			width:100%;
			min-height: 100%;
			text-align: right;
			color: var(--moji-color);
		}
		.info:hover {
			opacity: .4;
		}
		.articletitle {
			font-size: 1.2rem;
			text-align: left;
		}
		.date {
			font-size: 0.7rem;
			
		}
	</style>
</RootLayout>