---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import RootLayout from '../../layouts/RootLayout.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---


<RootLayout>
	<style>
		main {
			width: 960px;
		}
		ul {
			display: flex;
			flex-direction: column;
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		ul li {
			width: 100%;
		}
		ul li * {
			text-decoration: none;
			transition: 0.2s ease;
		}
		ul li a {
			display: block;
		}
		ul {
			gap: 0.5em;
		}
		ul li {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		ul li a {
			width: 100%;
			display: flex;
		}
		ul li img {
			width: 50%;
			height: auto;
			object-fit: cover;
			margin: 0 0.1rem;
		}
		.articletitle {
			font-size: 0.7rem;
		}
		.date {
			font-size: 0.4rem;
		}
	</style>
	<section>
		<ul>
			{
				posts.map((post) => (
					<li>
						<a href={`/blog/${post.slug}/`}>
							<img width={720} height={360} src={post.data.heroImage} alt="" />
							<div class="info">
								<div class="articletitle">{post.data.title}</div>
								<p class="date">
									<FormattedDate date={post.data.pubDate} />
								</p>	
							</div>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</RootLayout>