---
import RootLayout from '../layouts/RootLayout.astro';
---

<RootLayout>
    <h1 class="title">About</h1>
    <div class="a">
        工事中
    </div>
    <div class="a">
        気が向いたら書きます。
    </div>
    <style>
        .title {
			padding-left: 1rem;
			padding-bottom: 2.8rem;
		}
        .a {
            padding: 0 1rem 1rem 1rem;
            padding-bottom: 5rem;
        }
    </style>
</RootLayout>