---
import RootLayout from '../layouts/RootLayout.astro';
---

<RootLayout>
    <h1 class="title">About</h1>
    気が向いたら書く
    <div class="a">
        
    </div>
    <style>
        .title {
			padding-left: 1rem;
			padding-bottom: 2.8rem;
		}
        .a {
            padding-bottom: 20rem;
        }
    </style>
</RootLayout>