---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import '../styles/global.css';
---

<header>
	<nav>
		<a href="/" class="title">{SITE_TITLE}</a>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		font-size: 0.5rem;
	}
	.title {
		font-style: normal;
		font-weight: bold;
		font-size: 0.5rem;
		text-align: left;
		color: var(--paper-color);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 0.5rem 0.3rem;
		color: var(--moji-color);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--tag-color);
	}
</style>
