---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import '../styles/global.css';
---

<header>
	<nav>
		<a href="/" class="title">{SITE_TITLE}</a>
		<div class="internal-links">
			<HeaderLink href="/blog" class="blog-button">Blog</HeaderLink>
			<HeaderLink href="/about" class="about-button">About</HeaderLink>
		</div>
	</nav>
	<!-- paper svg curve -->
	<svg id="_レイヤー_1" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 435 14.12" class="svg-container">
		<defs>
			<style>
			.cls-1 {
				fill: var(--paper-color);
				stroke-width: 0px;
			}
			</style>
		</defs>
		<path class="cls-1" d="M435,14.12S7.47-17.65,0,14.12h435Z"/>
	</svg>
</header>
<style>
	header {
		position: relative;
		display: flex;
		flex-direction: column;
		background-color: var(--table-color);
	}
	.title {
		font-size: 1.2rem;
		text-align: left;
		color: var(--moji-color);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 0.5rem 0.6rem;
		text-decoration: none;
		text-align: center;
	}
	nav a.active{
		z-index: 10;
	}
	.svg-container {
		z-index: 8;
	}
	.blog-button {
		position: absolute;
		background-color: var(--label-color);
		color: var(--ribbon-color);
		width: 3.6rem;
		height: 6rem;
		transform: translate(-9.7rem, -1rem) rotate(4deg);
	}
	.about-button {
		position: absolute;
		background-color: var(--label-color-2);
		color: var(--book-color);
		width: 4rem;
		height: 6rem;
		transform: translate(-5rem, -0.9rem) rotate(3deg);
		/* box-shadow: 0.07rem -0.05rem .15rem black; */
	}
</style>
