---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import '../styles/global.css';
---

<header>
	<nav>
		<a href="/" class="title">{SITE_TITLE}</a>
		<div class="internal-links">
			<HeaderLink href="/blog" class="blog-button">Blog</HeaderLink>
			<HeaderLink href="/about" class="about-button">About</HeaderLink>
		</div>
	</nav>
	<div class="svg-container">
		<!-- paper svg curve -->
		<svg id="_レイヤー_1" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 435 32.37">
			<defs>
				<style>
					.cls-1 {
					fill: var(--paper-color);
					stroke-width: 0px;
					}
				</style>
				<filter id="shadow" height="130%">
					<feDropShadow dx="4" dy="4" stdDeviation="4" />
				</filter>
			</defs>
			<path class="cls-1" d="M435,14.12S7.47-17.65,0,14.12v18.25c7.47-31.76,435,0,435,0V14.12Z" filter="url(#shadow)"/>
		</svg>
	</div>
</header>
<style>
	header {
		position: relative;
		font-size: 0.5rem;
		display: flex;
		flex-direction: column;
	}
	.title {
		font-size: 1rem;
		text-align: left;
		color: var(--paper-color);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 0.5rem 0.6rem;
		text-decoration: none;
		text-align: center;
	}
	nav a.active{
		z-index: 10;
	}
	.svg-container {
		position: hidden;
		overflow: hidden;
		height: 0.6rem;
		z-index: 8;
	}
	.blog-button {
		position: absolute;
		background-color: var(--label-color);
		color: var(--ribbon-color);
		width: 2.8rem;
		height: 4rem;
		transform: translate(-7.5rem, -0.45rem) rotate(4deg);
	}
	.about-button {
		position: absolute;
		background-color: var(--label-color-2);
		color: var(--book-color);
		width: 2.6rem;
		height: 4rem;
		transform: translate(-3.5rem, -0.1rem) rotate(3deg);
		/* box-shadow: 0.07rem -0.05rem .15rem black; */
	}
</style>
