---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import '../styles/global.css';
// type Props = CollectionEntry<'blog'>['data'];

// const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<div class="headpart">
				<Header />
				<div class="book">
					<slot />
				</div>
				
			</div>
			<Footer />
		</main>
	</body>
	<style>
		main {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			background-color: var(--table-color);
			min-height: 100vh;
			font-family: dnp-shuei-nshogomincho-std, sans-serif;
			font-weight: 400;
			font-style: normal;
		}
		.book:before {
			content: "";
			display: block;
			position: absolute;
			top: -0.1rem; 
			left: 0;
			width: 100%;
			height: 0.2rem; 
			background: var(--paper-color);
			z-index: 1;
		}
		.book {
			position: relative;
			background-color: var(--paper-color);
			padding: 0.3rem 0.8rem 3rem 1rem;
			margin: 0;
		}
	</style>
</html>
